* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.hero {
  background-image: url(images/hero.jpg);
  background-size: cover;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-title {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.hero-description {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
}

.activities {
  padding: 40px;
}

.activities-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}

.activities {
  padding: 40px;
  background-color: #fafafa; /* Un azul muy claro/gris */
}

.activity {
  flex: 1;
  text-align: center;
  padding: 20px;
}

.activity-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.activities-title {
  text-align: center;
  margin-bottom: 40px;
}

.activity-title {
  margin: 15px 0;
}

.card {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-bottom: 40px;
}

.card-title {
  color: #1a1a1a;
  margin-bottom: 20px;
}

.card-description {
  color: #4a4a4a;
  margin-bottom: 20px;
  line-height: 1.6;
}
